@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Components;

@{
    var info = (SimplisityInfo)Model.List.First();
    var engineurl = PortalUtils.GetPortalAlias(DNNrocketUtils.GetCurrentCulture(), PortalUtils.GetPortalId());
}


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/API/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerce/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommercePayPal/App_LocalResources/")


<div class="w3-row w3-padding">
    <div class="w3-button" onclick="window.location.reload(false);">@ButtonIcon(ButtonTypes.back)</div>
    <div class="w3-button w3-theme-action simplisity_click " s-cmd="paypal_save" s-post="#datasave" s-fields=''>@ButtonText(ButtonTypes.save)</div>
    @if (Model.GetSettingBool("saved"))
    {
        <span class="simplisity_fadeout">
            @ButtonIcon(ButtonTypes.save)
        </span>
    }
</div>

<div id="datasave" class="w3-margin-top">

    <div class="w3-container">
        <label>Assembly</label>
        @TextBox(info, "genxml/textbox/assembly", "class='w3-input w3-border'  autocomplete='off' disabled ", "RocketEcommercePayPal")
        <label>Namespace + Class</label>
        @TextBox(info, "genxml/textbox/namespaceclass", "class='w3-input w3-border'  autocomplete='off' disabled ", "RocketEcommerce.PayPal.BankInterface")
    </div>

    <div class="w3-container">

        <div class="w3-row">
            <div class="w3-twothird">
                <label>@ResourceKey("provider.returnurl")</label>
                @TextBox(info, "genxml/textbox/returnurl", "class='w3-input w3-border'  autocomplete='off'  ")
            </div>
            <div class="w3-third w3-padding">
                @ResourceKey("provider.returnurl", "", "Help")
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-twothird">
                <label>@ResourceKey("provider.returncommand")</label>
                @TextBox(info, "genxml/textbox/returncommand", "class='w3-input w3-border'  autocomplete='off'  ", "rocketecommerce_cartbankreturn")
            </div>
            <div class="w3-third w3-padding">
                @ResourceKey("provider.returncommand", "", "Help")
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-twothird">
                <label>@ResourceKey("provider.paypalid")</label>
                @TextBox(info, "genxml/textbox/paypalid", "class='w3-input w3-border'  autocomplete='off'  ")
            </div>
            <div class="w3-third w3-padding">
                @ResourceKey("provider.", "", "Help")
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-twothird">
                <label>@ResourceKey("provider.testposturl")</label>
                @TextBox(info, "genxml/textbox/testposturl", "class='w3-input w3-border'  autocomplete='off'  ", "https://www.sandbox.paypal.com/cgi-bin/webscr")
            </div>
            <div class="w3-third w3-padding">
                @ResourceKey("provider.testposturl", "", "Help")
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-twothird">
                <label>@ResourceKey("provider.liveposturl")</label>
                @TextBox(info, "genxml/textbox/liveposturl", "class='w3-input w3-border'  autocomplete='off'  ", "https://www.paypal.com/cgi-bin/webscr")
            </div>
            <div class="w3-third w3-padding">
                @ResourceKey("provider.", "", "Help")
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-twothird">
                <label>@ResourceKey("provider.charset")</label>
                @TextBox(info, "genxml/textbox/charset", "class='form-control w3-input w3-border'  autocomplete='off'", "utf-8")
            </div>
            <div class="w3-third w3-padding">
                @ResourceKey("provider.", "", "Help")
            </div>

        </div>

        <div class="w3-row">
            <div class="w3-twothird">
                <label>@ResourceKey("provider.currencycode")</label>
                @TextBox(info, "genxml/textbox/currencycode", "class='form-control w3-input w3-border'  autocomplete='off'", "EUR")
            </div>
            <div class="w3-third w3-padding">
                @ResourceKey("provider.", "", "Help")
            </div>

        </div>

        <div class="w3-row">
            <div class="w3-twothird">
                <label>@ResourceKey("provider.extrafields")</label>
                @TextArea(info, "genxml/textbox/extrafields", "class='form-control w3-input w3-border'  autocomplete='off' rows='4'", "")
            </div>
            <div class="w3-third w3-padding">
                @ResourceKey("provider.extrafields", "", "Help")
            </div>

        </div>
        <div class="w3-row">
            <div class="w3-twothird">
                <label>@ResourceKey("provider.paybuttontext")</label>
                @TextBox(info, "genxml/lang/genxml/textbox/paybuttontext", "class='form-control w3-input w3-border'  autocomplete='off'", ResourceKey("provider.bankpayment").ToString())
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-twothird">
                <label>@ResourceKey("provider.paymsg")</label>
                @TextArea(info, "genxml/lang/genxml/textbox/paymsg", "class='form-control w3-input w3-border'  autocomplete='off'", "")
            </div>
        </div>

        <hr />

        <label>@ResourceKey("provider.preproduction")</label>
        @CheckBox(info, "genxml/checkbox/preproduction", "", "class='w3-check'")

        <label>@ResourceKey("provider.debugmode")</label>
        @CheckBox(info, "genxml/checkbox/debugmode", "", "class='w3-check'")

        <label>@ResourceKey("DNNrocket.active")</label>
        @CheckBox(info, "genxml/checkbox/active", "", "class='w3-check'")

    </div>
</div>
